.myMsg {
    display: flex;
    justify-content: flex-end;
}

.msgText {
    max-width: 46vw;
}

.msgBox {
    display: flex;
    background-color: #63d7b0;
    width: max-content;
    padding: 10px;
    margin: 2px;
    max-width: 50vw;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.myMsgTime {
    align-self: flex-end;
    font-size: .65rem;
    margin-left: 6px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}