.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: .7;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000a3;
    border-left: 4px solid #dddedd;
}

.welcomeLogo {
    height: 20vw;
}