.createGrp{
    flex: .7;
    padding: 20px 10px;
    margin: 10px;
    background-color: #fff;
    align-self: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}