.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: .7;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000a3;
    border-bottom: 5px solid #7FB2F9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.welcomeLogo {
    height: 20vw;
}