.box {
    margin: 0 5vw;
}

.box>h2 {
    text-align: center;
}

.box>p {
    text-align: center;
}

.box>p:first-of-type {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.chip {
    margin: 2vh 0;
}

.MuiStack-root {
    margin: 0 2vw;
}

.MuiChip-root {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.MuiChip-root:first-child {
    margin-left: .5rem;
}

.stack {
    flex-wrap: wrap;
    max-height: 20vh;
    overflow-y: auto;
}

.boxList {
    max-height: 20vh;
    overflow-y: auto;
}